.svg{
    background-image: url(../../assets/imgs/waveFinal.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
    object-fit: cover;
    height: 150vh;
    width: 100%;
    z-index: 50;
}

.AAAAAA{
    max-height: 200vh;
}